@font-face {
  font-family: "Unitblock";
  src: url("/fonts/Unitblock.otf") 
  format("opentype");
}

.body-pages {
  background-image: url("/img/background.png");
  background-size: 100%, 100%;
  background-repeat: repeat-y;
  background-attachment: fixed;
}

.container-1 {
  display: flex;
  flex-wrap: wrap;

  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 25px;
  border-width: 8px;
  border-style: solid;
  border-color: #461b16;
  
  background-color: rgba(247, 141, 130, 0.6);

  width: 75%;

  align-items: center;
  justify-content: center;
  gap: 10px;
}
/* HOMEPAGE */

.navhome-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 10%;
  aspect-ratio: 1/1;

  font-family: "Unitblock";
  color: #461b16;

  background-color: rgba(168, 91, 82, 0.6);

  border-radius: 10%;
}

.navhome-button img {
  width: 40%;
  height: 40%;
}

/* TOP TEXT */
.toptext {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);

  font-family: "Unitblock";
  font-size: 6cqw;
  color: #ffedeb;
}

.toppagename{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  
  font-family: "Unitblock";
  font-size: 5cqw;
  color: #ffedeb;
}

.toptextholder {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 90%;
  height: 45%;

}

/* GAMES */


.navhome-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 10%;
  aspect-ratio: 1/1;

  font-family: "Unitblock";
  color: #461b16;

  background-color: rgba(168, 91, 82, 0.6);

  border-radius: 10%;
}

.game-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 15%;
  aspect-ratio: 1/1;

  font-family: "Unitblock";
  color: #461b16;

  background-color: rgba(168, 91, 82, 0.6);

  border-radius: 10%;
}

.game-button img {
  max-width: 80%;
  aspect-ratio: 1/1;
}